#charLoad{
    height: 300px;
    background-color: black;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;

}
#loader {
    background-image: url("https://wallpapercave.com/wp/gfwPusm.jpg");
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: darkred;

    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;

    z-index: 1001;
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: silver;

        -webkit-animation: spin 3s linear infinite;
        animation: spin 3s linear infinite;
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: darkturquoise;

        -webkit-animation: spin 1.5s linear infinite;
          animation: spin 1.5s linear infinite;
    }

    #loader2-wrapper {
        position: relative;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: black;

    }
    #loader2 {
    display: block;
    position: relative;
    top: 75px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0px auto;
    border: 3px solid transparent;
    border-top-color: darkred;

    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;

    z-index: 1001;
}

    #loader2:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: silver;

        -webkit-animation: spin 3s linear infinite;
        animation: spin 3s linear infinite;
    }

    #loader2:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: darkturquoise;

        -webkit-animation: spin 1.5s linear infinite;
          animation: spin 1.5s linear infinite;
    }

    @-webkit-keyframes spin {
        0%   {
            -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    @keyframes spin {
        0%   {
            -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background: black;
        z-index: 1000;
    }

    #loader2-wrapper .loader2-section {
        width: 100%;
        height: 100%;
        z-index: 1000;
    }

    .loaded #loader, .loaded .loader-section {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;
                transition: all 0.3s ease-out;
    }

    .loaded #loader2, .loaded .loader2-section {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;
                transition: all 0.3s ease-out;
    }

    .loaded #loader-wrapper {
        visibility: hidden;
    }

    .loaded #loader2-wrapper {
        visibility: hidden;
    }

.hidden {
    display: none;
    visibility: hidden;
}

@media only screen and (min-width: 35em) {
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
}

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

}
